/* Styles for the mobile not supported screen container */
.mobile-not-supported-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

/* Styles for the mobile not supported message */
.mobile-not-supported-message {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 500; /* font-medium */
  color: rgb(31 41 55); /* text-gray-800 */
  text-align: center;
}

